<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <h3>I am in the app component</h3>
          <hr>
          <app-servers></app-servers>
          <!-- <div app-servers></div> -->
          <!-- <div class="app-servers"></div> -->
          <!-- <hr>
          <success-alert></success-alert>
          <waring-alert></waring-alert> -->
          <!-- <hr>
          <app-username></app-username> -->
          <hr>
          <app-details></app-details>
      </div>
  </div>
</div>